.App {
  text-align: center;
  background-color: aqua;

  .main-div {
  }
  h1,
  .logic {
    color: black;
  }
}
.footer {
  background: linear-gradient(to left, lime 28px, red 77%, cyan);
  font-size: 2rem;
  text-align: left;
  padding-top: 3rem;
  margin-top: 5.8rem;
  .footer-text {
    display: flex;
    justify-content: space-between;
  }
}
.cards {
  display: flex;
  justify-content: space-between;
  .cards-img {
    width: 300px;
    height: 150px;
  }
}
.sidebar {
  height: auto;
  width: 20%;
  color: aliceblue;
  background-color: black;
}
.oferta {
  font-size: 20px;
  font-weight: normal;
}
.hold {
  background-color: 4px solid black;
  border: 2rem solid black;
  height: 300px;
  width: 300px;
}
.cards-img:hover {
  font-size: 150%;
  cursor: grab;
}
